.header {
    padding: .4em 1em;
}

.header a {
    height: auto;
    color: #FFFFFF;
}

.container {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #FFFFFF;
    color: #6A2C91;
    font-weight: 700;
    border: 1px solid #6A2C91;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #6A2C91;
}

.successAuthedItem {
    display: flex;
    column-gap: 1em;
    align-items: center;
}