.profileInfo {
    display: flex;
    align-items: start;
    column-gap: 2em;
}

.profileTexts {
    display: flex;
    flex-direction: column;
    row-gap: .2em;
}

.avatar {
    overflow: hidden;
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 1.1em;
    font-weight: 600;
}

.profileImg {
    position: relative;
    overflow: initial;
}

.avatar ul li {
    padding: 5px 7px;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}

.imageBlock input[type='file'] {
    width: auto;
    height: auto;
    padding: 0;
}

.items button {
    margin-top: 1em;
}

.largePhoto {
    width: 400px;
    height: 400px;
}

.changeProfileBtn {
    margin-top: 1em !important;
}