.profileInfo{
    display: flex;
    align-items: start;
    column-gap: 2em;
}
.profileTexts{
    display: flex;
    flex-direction: column;
    row-gap: .2em;
}
.avatar{
    overflow: hidden;
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name{
    font-size: 1.1em;
    font-weight: 600;
}
.profileImg{
    position: relative;
    overflow: initial;
}
.dropdown{
    pointer-events: none;
    opacity: 0;
    transition: all .3s;
    border-radius: .8em;
    position: absolute;
    width: auto;
    min-width: 180px;
    top: 88%;
    left: 0;
    height: auto;
    padding: 1em;
    background-color: rgb(180, 211, 53);
    color: #FFFFFF;
}
.dropdown ul li+li{
    margin-top: .4em;
}
.avatar:hover .dropdown{
    pointer-events: initial;
    opacity: 1;
    transition: all .3s;
}
.avatar ul li:hover{
    transition: all .3s;
    background-color: #6A2C91;
}
.avatar ul li{
    padding: 5px 7px;
    border-radius: 5px;
    transition: all .3s;
    cursor: pointer;
}
.imageBlock input[type='file']{
    width: auto;
    height: auto;
    padding: 0;
}
.items button{
    margin-top: 1em;
}
.largePhoto{
    width: 400px;
    height: 400px;
}