.nav {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    height: 80vh;

}

.nav a {
    transition: opacity .2s;
    opacity: .8;
    color: #FFFFFF;
    text-decoration: none;
}


.nav a:hover {
    transition: opacity .2s;
    opacity: 1;
}