body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, button{
  transition: all .3s;
  cursor: pointer;
  text-decoration: none;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  opacity: .8;
  transition: opacity .2s;
}
a:hover{
  opacity: 1;
  transition: opacity .2s;
}
button:hover{
  transition: all .3s;
  background-color: #4B1E68;
}
input{
  padding: 2px 5px;
  width: 300px;
  height: 30px;
}
.wrapper{
  font-size: 17px;
  line-height: 1.3;
  display: grid;
  grid-template-areas:
        'h h'
        'n c';
  grid-template-rows: 84px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90vh;
}
header{
  color: #FFF;
  grid-area: h;
  background-color: #6A2C91;
}
nav{
  margin-top: 1em;
  color: #FFF;
  background-color: #6A2C91;
  grid-area: n;
  padding: 20px 15px;
}
.content{
  padding: 0 15px 20px;
  margin-top: 1em;
  margin-left: 1em;
  grid-area: c;
}
button{
  border-radius: .5em;
  padding: 10px 24px;
  font-weight: 500;
  background-color: #6A2C91;
  border: none;
  color: #FFFFFF;
}
.pagination{
  display: flex;
  column-gap: 1em;
  margin-top: 2em;
}
.logo{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.error-text{
  margin-top: 4px;
  color: red;
  font-size: 14px;
  font-weight: 500;
}